#search_entry {
    margin: 5px;
    border: 0.5px solid #6d6d6d;
    border-radius: 15px;
    /* color: #6d6d6d; */
    color: #081D3C;
    transition: all 1s ease-out;
}

#search_entry:focus {
    font: 13px sans-serif;
    /* color: black; */
    color: #081D3C;
    border: 0.6px solid black;
    box-shadow: none;
}

#contact_dialog {
    background: rgb(218, 168, 3);
}

#close_settings1 {
    background: rgb(189, 146, 2);
    color: #081D3C;
    font-size: 13px;
    border: none;
	outline: none;
    box-shadow: none;
}

#search_entry {
    background:  snow;
} 

